*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #f7f7f7;
    /* background-color: #fbfcfd; */
}
.clear::after{
    content: "";
    clear: both;
}
/* ================================================ */
.navbar{
    background-color: #245271;
    width: 100%;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
/* logo section */
.logo{
    /* align-self: baseline; */
}
.logo a{
    font-size: 27px;
    text-decoration: none;
    color: #fff;
    font-family: 'Mogra', cursive;
}
.logo a span{
    color: #43d854;
    font-size: 22px;
    font-family: 'Rowdies', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Kumar One', cursive;
}
/* menu section */
.menu{
    padding: 10px 0;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 5px 30px 5px 0;
    display: inline-block;
    padding: 5px 8px;
    transition: 0.4s;
    border-radius: 4px;
    font-family: 'Katibeh', cursive;
}
.menu li a:hover{
    color: #43d854;
    transform: translatey(-3px);
}

/* toggle section */
.toggle{
    width: 40px;
    height: 40px;
    background-color: #f5f4f4;
    border-radius: 6px;
    position: absolute;
    top: 3.5px;
    right: 25px;
    display: none;
}

.toggle span{
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle span:nth-child(1){
    margin-top: -8px;
}

.toggle span:nth-child(3){
    margin-top: 8px;
}

.toggle.open span:nth-child(1){
    transform: translate(-50%, -50%) rotate(45deg);
    margin: 0;
}
.toggle.open span:nth-child(2){
     opacity: 0;
}
.toggle.open span:nth-child(3){
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0;
}

/* ============ cover =========== */
.bgcover{
    width: 100%;
    /* background: rgba(0,0,0,0.2) url(../../image/cover-011.jpg) no-repeat fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light; */
    /* background-color: rgba(0,0,0,0.5); */
}
#Cover{
    margin-top: 57px;
}
.cover{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.5) url(./cover-011.jpg) no-repeat fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.cover .coverx{
    width: 70%;
    /* border: 2px solid #245271; */
    align-self: center;
    padding-left: 15px;
}
.cover .coverx h2{
    font-size: 2rem;
    color: #19a068;
    color: #eb4d4b;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.cover .coverx h3{
    font-size: 2.4rem;
    margin: 10px 0;
}
.cover .coverx h3 span{
    color: #22a6b3;
}
.cover .coverx h4{
    color: #277430;
    color: #8a226e;
    color: #84193e;
    color: #1d547e;
    color: #4cd137;
    font-family: 'Chicle', cursive;
    word-wrap: 1px;
    letter-spacing: 2px;
}
.cover .covery{
    /* width: 50%; */
}
.minabout{
    /* background-image: linear-gradient(to right, #200122 0%, #6f0000  51%, #200122  100%);
    background-image: linear-gradient(45deg, #1A2980 0%, #26D0CE  51%, #1A2980  100%); */
    padding: 15px;
}
.minabout h3{
    color: rgb(14, 13, 13);
}
.minabout h2{
    text-align: center;
}
.minabout h2 span{
    color: #84193e;
}
.minabout h3{
    font-size: 22px;
    margin: 12px 0;
    padding: 0px 10px;
}
.minaboutx{
    display: flex;
    justify-content: space-between;
}
.aboutx{
    width: 50%;
}
.aboutx .abximg{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.aboutx .abximg img{
    width: 100%;
}
.aboutx .abximg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(4deg, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    border-radius: 5px;
    transform: rotate(350deg);
    z-index: -1;
}
.abouty{
    width: 50%;
}
.abouty ul li{
    padding: 10px 0;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    font-family: "Montserrat";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.abouty ul li b{
    margin-right: 10px;
    color: #17181c;
    font-weight: 600;
    position: absolute;
    right: 0;
}
.abouty ul li .title{
    min-width: 110px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #17181c;
    font-weight: 600;
    position: relative;
}
.minabout h4{
    text-align: justify;
}
.timeline{
    width: 100%;
    display: inline-block;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);

}


p{
    text-align: justify;
}
  /* <button class="btn-grad">Hover</button> */
.btn-gradd {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    padding: 7px 15px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
    border: none;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
}
  .btn-gradd:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .bgw{
    background-color: white;
    padding: 30px 0;
  }
  #Fuck-skill{
    text-align: center;
    margin-top: 20px;
  }
  #Fuck-skill span{
    color: #12f370;
  }
  .skill{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  .skillx{
    width: 48%;
    padding: 10px;
  }
  .skillyy{
    width: 48%;
    padding: 10px;
  }
  .skillyy .cskill:nth-child(1) .skilly span{
    width: 75%;
  }
  .skillyy .cskill:nth-child(2) .skilly span{
    width: 65%;
  }
  .skillyy .cskill:nth-child(3) .skilly span{
    width: 85%;
  }
  .skillx .skill{}
 .cskill{
    width: 100%;
    margin-top: 10px;
    display: inline-block;
  }
  .skillf{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .skilly{
    box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #ccc;
    border-radius: 100vh;
    padding: 4px 6px;
    width: 100%;
    height: 20px;
    margin-top: 5px;
  }
  .skilly span{
    /* background-color: #12f370; */
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);  

    border-radius: 100vh;
    height: 100%;
    display: block;
  }
  .cskill:nth-child(1) .skilly span
  {
        width: 70%;
  }
  .cskill:nth-child(2) .skilly span
  {
        width: 95%;
  }
  .cskill:nth-child(3) .skilly span
  {
        width: 80%;
  }
  #services{}
  #services .container{
    padding: 25px 0;
  }
  #services .container h2{
    text-align: center;
    margin: 15px;
  }
  #services .container h2 span{
    color: #19a068;
  }
  #services .container .minserv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #services .container .minserv .servcild{
    width: 32%;
    border-radius: 7px;
    padding: 15px;
    box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #ccc;
    margin-bottom: 15px;
    position: relative;
  }
  #services .container .minserv .servcild i{}
  #services .container .minserv .servcild h3{
    margin: 10px 0;
  }
  #services .container .minserv .servcild p{}

  #services .container .minserv .servcild::before{
    content: '';
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #093028 0%, #237A57  51%, #093028  100%);
    background-image: linear-gradient(to right, #007991 0%, #78ffd6  51%, #007991  100%);
    background-image: linear-gradient(to right, #F00000 0%, #DC281E  51%, #F00000  100%);
    background-image: linear-gradient(to right, #00bf8f 0%, #001510  51%, #00bf8f  100%);
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);  
    background-image: linear-gradient(to right, #ff0084 0%, #33001b  51%, #ff0084  100%);

    background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%);
    z-index: -1;
    clip-path: circle(5rem at 5% 0%);
    transition: .3s linear;
    border-radius: 10px;
  }
  #services .container .minserv .servcild:hover:before{
    clip-path: circle(100%);
  }

/* last 3 services by right side */
  /* #services .container .minserv .servcild:nth-child(4){
    text-align: right;
  }
  #services .container .minserv .servcild:nth-child(5){
    text-align: right;
  }
  #services .container .minserv .servcild:nth-child(6){
    text-align: right;
  }
  #services .container .minserv .servcild:nth-child(4)::before{
    clip-path: circle(5rem at 100% 0%);
  }
  #services .container .minserv .servcild:nth-child(5)::before{
    clip-path: circle(5rem at 100% 0%);
  }
  #services .container .minserv .servcild:nth-child(6)::before{
    clip-path: circle(5rem at 100% 0%);
  }*/


  .wr-pro{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .wr-pro .wrprox{
    width: 33.33%;
    padding: 10px;
    height: auto;
    position: relative;
    /* overflow: hidden; */
  }
  .wr-pro .wrprox:nth-child(1){
    border-top: 2px solid #00bf8f;
    border-right: 2px solid #00bf8f;
  }
  .wr-pro .wrprox:nth-child(2){
    border-bottom: 2px solid #00bf8f;
    border-right: 2px solid #00bf8f;
  }
  .wr-pro .wrprox:nth-child(3){
    border-top: 2px solid #00bf8f;
    /* border-right: 2px solid #00bf8f; */
  }

  .wr-pro .wrprox h3{
    margin: 8px 0;
  }
  .wr-pro .wrprox p{
    text-align: justify;
  }
  .wr-pro .wrprox .bbutton1,.bbutton3{
    position: absolute;
    top: -8%;
    left: 40%;
    margin: auto;
    border: none;
    padding: 2px 7px;
    border-radius: 100vh;
    color: white;
    background: #33001b;
  }
  .bbutton2{
    position: absolute;
    bottom: -8%;
    left: 40%;
    margin: auto;
    border: none;
    padding: 2px 7px;
    border-radius: 100vh;
    color: white;
    background: #33001b;
  }

.resume{}
.resume h2{
  text-align: center;
  margin: 20px 0;
}
.resume h2 span{
  color: #00bf8f;
}
.resume .mywrk{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.resume .mywrk .mywn{
  width: 30%;
  margin-bottom: 15px;
}
.mywrk .mywn .mywn-img{
  position: relative;
}
.mywrk .mywn .mywn-img img{
  width: 100%;
}
.mywrk .mywn .mywn-img::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(0,0,0,.5);
  transition: 0.3s;
}
.mywrk .mywn .mywn-img:hover::before{
  height: 100%;
}

.Button4 {
  width: 100px;
  height: 35px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #F00000 0%, #DC281E  51%, #F00000  100%);
  text-decoration: none;
  font-size: 20px;
}
.Button4:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left:8px;
}
.Button4:hover:after {
  opacity: 1;
  right: 10px;
}
.Button4:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 22px;
  line-height: 37px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.abs{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  display: inline;
}
.mywn-img:hover .abs{
  visibility: visible;
  opacity: 1;
}
.temp{
  margin-top: 10px;
}

  /* --------- count -------------------- */
  .trst-p{
    background-color: white;
    padding: 10px;
  }
  .trst-p h2{
    text-align: center;
    margin: 25px 0;
  }
  .trst-p h2 span{
    color: #00bf8f;
  }
  .count{
    box-shadow: .4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #ccc;
    background: url(./x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .count-x{
    width: 100%;
    background: rgb(0,0,0,.7);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* background-blend-mode: multiply; */
  }
  .count .countx{
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid white;
    padding: 15px 0;
  }
  .trst-p .count .countx h1,h3{
    /* color: white; */
  }
  .trst-p .count .countx h1{
    text-align: center;
    margin-bottom: 7px;
    color: white;
  }
  .trst-p .count .countx h3{
    text-align: center;
    color: white;
  }


  .foter{
    
  }
  .fh2{
    color: white;
    text-align: center;
    background-color: #000;
    margin: 15px 0;
    padding: 10px;
  }
  .foter .xfoter{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .foter .xfoter .f_follow{
    width: 50%;
    align-self: center;
  }
  .foter .xfoter .f_follow h2{
    text-align: center;
    margin: 10px 0;
  }
  .foter .xfoter .f_follow .link{
    text-align: center;
  }
  .foter .xfoter .f_follow .link a{
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 40px;
    display: inline-block;
    box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    color: black; 
    transition: 0.4s;
  }
  .foter .xfoter .f_follow .link a:hover{
    transform: translateY(-5px);
  }
  .fb i{
    color: #3b5998;
}
.wa i{
    color: #43d854;
}
.tg i{
    color: #00405d;
}
.tt i{
    color: #55acee;
}
  .foter .xfoter .f_contact{
    width: 50%;
    text-align: center;
  }
  .foter .xfoter .f_contact input{
    width: 90%;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 100vh;
  }
  .foter .xfoter .f_contact textarea{
    width: 88%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .foter .xfoter .f_contact button{
    border-radius: 100vh;
    width: 120px;
  }
  .f_followx{}
  .f_followx i{}
  .f_followx span{
    padding: 0 7px;
    font-size: 20px;
  }
  .f_followx h3{
    display: inline-block;
  }
  .FOTTER{}
  .FOTTER p{
    background-color: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
/*navbar responsive with media query */

@media screen and (max-width: 800px) {
    .navbar{
        background-color: #245271;
        box-shadow: 0 0 6px #000;
        height: 56px;
        position: relative;
        z-index: 9;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    
    .logo a{
        margin-top: 12px;
        display: block;
        font-size: 17px;
    }
    .logo a span{
        font-size: 17px;
    }

    .menu{
        width: 100%;
        /* height: 300px; */
        position: absolute;
        border-top: 1px solid white;
        background-color: #245271;
        top: 50px;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        text-align: center;
        transition: .4s;
    }
    .menu li
    {
        display: block;
    }
    .menu li a{
        padding: 10px 0;
        font-size: 27px;
        display: block;
    }

    .menu.open{
       transform: translateX(0%);
    }

    .toggle{
        display: block;
        cursor: pointer;
        top: 8px;
    }
    .cover{
        background-size: inherit;
        background-position: right;
    }
    .cover .coverx{
        width: 100%;
    }
    .minaboutx{
        display: inline-block;
    }
    .minabout h3{
        font-size: 15px;
    }
    .aboutx{
        width: 100%;
        display: inline-block;
    }
    .aboutx .abximg{}
    .abouty{
        width: 100%;
        display: inline-block;
        margin-top: 15px;
    }
    .abouty ul li{
        font-size: 15px;
    }
    .btn-gradd{
        padding: 5px 8px;
        border-radius: 3px;
        font-size: 12px;
    }

    .skill{
        display: inline-block;
    }
    .skillx{
        width: 90%;
        margin: auto;
    }
    .skilly{
        height: 14px;
    }
    .skilly span{
        height: 7px;
    }
    .skillyy{
        margin-top: -20px !important;
        width: 90%;
        margin: auto;
    }
    #services .container .minserv{
        display: inline-block;
    }
    #services .container .minserv .servcild{
        width: 90%;
        /* display: inline-block; */
        margin: auto;
        margin-bottom: 20px;
    }
    .wr-pro{
        width: 100%;
        display:inline-block;
      }
      .wr-pro .wrprox{
        width: 90%;
        margin: auto;
        padding: 10px;
        height: 150px;
        position: relative;
      }
      .wr-pro .wrprox:nth-child(1){
        border-top: 2px solid #00bf8f;
        border-right: 2px solid #00bf8f;
      }
      .wr-pro .wrprox:nth-child(2){
        border-top: 2px solid #00bf8f;
        border-left: 2px solid #00bf8f;
        border-bottom: 2px solid #00bf8f;
        border-right: none;
      }
      .wr-pro .wrprox:nth-child(3){
        border-bottom: 2px solid #00bf8f;
        border-right: 2px solid #00bf8f;
        border-top: none;
      }
      .wr-pro .wrprox .bbutton1,.bbutton3{
        position: absolute;
        top: -8%;
        left: 40%;
        margin: auto;
        border: none;
        padding: 2px 7px;
        border-radius: 100vh;
        color: white;
        background: #33001b;
      }
      .bbutton2{
        position: absolute;
        top: -8%;
        left: 40%;
        bottom: 95%;
        margin: auto;
        border: none;
        padding: 3px 7px;
        border-radius: 100vh;
        color: white;
        background: #33001b;
      }

      .resume .mywrk{
        display: inline-block;
      }
      .resume .mywrk .mywn{
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
      }
      .foter .xfoter{
        display: inline-block;
      } 
      .foter .xfoter .f_follow{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
      }
      .foter .xfoter .f_contact{
        width: 90%;
        margin: auto;
      }
      .trst-p .count .countx h1{
        font-size: 15px;
      }
      .trst-p .count .countx h3{
        font-size: 15px;
      }
}